# Instructions 
# Пустые строки, а также строки, начинающиеся с #, игнорируются.
# Можно использовать стандартные glob шаблоны.
# Можно заканчивать шаблон символом слэша (/) для указания каталога.
# Можно инвертировать шаблон, использовав восклицательный знак (!) в качестве первого символа.
#############################################################################################################
# # комментарий — эта строка игнорируется
#   не обрабатывать файлы, имя которых заканчивается на .a
#   *.a
#   НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#   !lib.a
#   игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#   /TODO
#   игнорировать все файлы в каталоге build/
#   build/
#   игнорировать doc/notes.txt, но не doc/server/arch.txt
#   doc/*.txt
#   игнорировать все .txt файлы в каталоге doc/
#   doc/**/*.txt
##############################################################################################################

# Ignored files
.idea
Thumbs.db
out/
target/
release/
debug/
articles/
books/
slides/
exp/
lib/

*.iml
*.properties
