<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Edit car</title>
    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navigation :: navigation">&nbsp;</div>

<form th:method="PATCH" th:action="@{/management/{id}(id=${car.getId()})}" th:object="${car}">
    <input type="hidden" th:field="*{sold}" class="form-control" id="sold"/>
    <div class="col-sm-3 my-1 mx-auto">
        <h1>Edit car</h1>
        <hr>
        <div class="form-group">
            <label for="vin">Enter vin : </label>
            <input type="text" th:field="*{vin}" class="form-control" id="vin"/>
            <small style="color:red" th:if="${#fields.hasErrors('vin')}" th:errors="*{vin}">Vin error</small>
        </div>
        <div class="form-group">
            <label for="brand">Enter brand : </label>
            <input type="text" th:field="*{brand}" class="form-control" id="brand"/>
            <small style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Brand error</small>
        </div>
        <div class="form-group">
            <label for="model">Enter model : </label>
            <input type="text" th:field="*{model}" class="form-control" id="model"/>
            <small style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model error</small>
        </div>

        <div class="form-group">
            <label for="year">Enter year : </label>
            <input type="text" th:field="*{year}" class="form-control" id="year"/>
            <small style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</small>
        </div>
        <div class="form-group" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
            <label for="mileage">Enter mileage : </label>
            <input type="number" th:field="*{mileage}" class="form-control" id="mileage"/>
            <small style="color:red" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">Mileage
                error</small>
        </div>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN')" class="form-group">
            <label for="sellingPrice">Enter selling price : </label>
            <input type="number" th:field="*{sellingPrice}" class="form-control" id="sellingPrice"/>
            <small style="color:red" th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}">
                sellingPrice error</small>
        </div>
        <div class="form-group">
            <label for="price">Enter price : </label>
            <input type="number" th:field="*{price}" class="form-control" id="price"/>
            <small style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</small>
            <br>
            <div class="row justify-content-center">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Update"/>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>