<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Sell car</title>
    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navigation :: navigation">&nbsp;</div>

<form th:method="PATCH" th:action="@{/management/{id}/sell(id=${car.getId()})}" th:object="${car}">
    <div class="col-sm-3 my-1 mx-auto">
        <h1>Sell car</h1>
        <hr>
        <p sec:authorize="hasRole('ROLE_DEMO')"
           th:text="${car.brand} + ' ' + ${car.model} + ' ' + ${car.vin.substring(0,car.vin.length()-5).concat('*****')}">
        </p>
        <p sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"
           th:text="${car.brand} + ' ' + ${car.model} + ' ' + ${car.vin}">
        </p>

        <input type="hidden" th:field="*{vin}" class="form-control" id="vin"/>
        <input type="hidden" th:field="*{brand}" class="form-control" id="brand"/>
        <input type="hidden" th:field="*{model}" class="form-control" id="model"/>
        <input type="hidden" th:field="*{year}" class="form-control" id="year"/>
        <input type="hidden" th:field="*{mileage}" class="form-control" id="mileage"/>
        <input type="hidden" th:field="*{price}" class="form-control" id="price"/>
        <div class="form-group" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
            <label for="sellingPrice">Enter selling price : </label>
            <input type="number" th:field="*{sellingPrice}" class="form-control" id="sellingPrice"/>
            <small style="color:red" th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}">
                sellingPrice error</small>
            <br>
            <div class="row justify-content-center">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sell"/>
            </div>
        </div>
        <div class="form-group" sec:authorize="hasRole('ROLE_DEMO')">
            <label for="sellingPrice">Enter selling price : </label>
            <input type="number" class="form-control" id="dummy"/>
            <br>
            <div class="row justify-content-center">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sell"/>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>