<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Error page</title>
    <style>
        body {
            background-color: #f5f5f5;
            margin-left: 20%;
            margin-top: 2%;
        }
    </style>
</head>
<body>
<h1>
    <p>Error Page</p>
</h1>
</body>
</html>