<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Admin panel</title>
    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navigation">&nbsp;</div>
<main>
    <div class="container">
        Logged user: <span sec:authentication="name">User</span>
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>
    <div class="container">
        <h1>Dashboard</h1>
        <hr>
        <table class="table table-hover table-bordered table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">email</th>
                <th class="col-md-2 col-sm-5 col-xs-2" scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td sec:authorize="hasRole('ROLE_DEMO')"
                    th:text="'***'">
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"
                    th:text="${user.name}">
                </td>
                <td sec:authorize="hasRole('ROLE_DEMO')"
                    th:text="'***'">
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"
                    th:text="${user.surname}">
                </td>
                <td sec:authorize="hasRole('ROLE_DEMO')"
                    th:text="${T(com.github.owgrant24.springbootone.util.TextReplacer).emailCrypt(user.email)}">
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"
                    th:text="${user.email}">
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                        <button type="submit" class="btn btn-outline-primary btn-sm" value="Delete">Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>

