<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--   Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Cars online store</title>

    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Cars online store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_DEMO')" class="dropdown-item"
                           th:href="'/management/new'">
                            Create new car</a>
                        <div class="dropdown-divider"></div>
                        <form th:method="POST" th:action="@{/logout}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input class="dropdown-item" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DEMO')" class="nav-item active">
                    <a class="nav-link" th:href="'/admin'">Admin panel</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER','ROLE_DEMO')" class="nav-item active">
                    <a class="nav-link" th:href="'/management'">Management control</a>
                </div>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DEMO')" class="nav-item active">
                    <a class="nav-link" th:href="'/actuator'">Actuator control</a>
                </div>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{https://www.google.com/search}">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Google" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

</body>
</html>