<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--   Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <title>Cars online store</title>

    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navigation">&nbsp;</div>
<div class="container">
    <h1>List Cars</h1>
    <hr>
    <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Mileage</th>
            <th scope="col">Price</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.mileage}"></td>
            <td th:text="${car.price}"></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form th:method="GET" th:action="@{/cars/{id}(id=${car.getId()})}">
                        <button type="submit" class="btn btn-outline-primary btn-sm" value="Info">Info</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="'Total cars : ' + ${cars.size()}"></span>
</div>
<br/>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>